<footer class="bg-light mt-auto">
  <div class="container pt-5 pb-5 small">
    <div class="row justify-content-between">
      <div class="col-md-5 text-center">
        <img class="mb-3" src="/assets/images/clir-black-with-wordmark.png"
          alt="The Council on Library and Information Resources" id="clir-logo">
        <p class="text-left">The Ruth Finley Collection: Digitizing 70 Years of the Fashion Calendar is funded with a
          Hidden Collections Grant from the <a href="https://www.clir.org/">Council on Library and Information
            Resources</a> (CLIR) and is
          made possible with funding from the Andrew W. Mellon Foundation.</p>
      </div>
      <div class="col-md-5 text-center">
        <img class="my-3" src="/assets/images/wordmark-black-1-line.png" alt="FIT SUNY Logo" id="fit-suny-logo">
        <p>
          &copy;2023 Fashion Institute of Technology
          <br>
          All rights reserved.
        </p>
        <p class="text-left">The views, opinions, and conclusions expressed in this page are those of the author or
          organization and not necessarily those of the Fashion Institute of Technology or its officers and trustees.
          The author or organization
          is solely responsible for its content.</p>
      </div>
    </div>
  </div>
</footer>