---
---

// start content
@import url("https://use.typekit.net/ypx8nyh.css");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

body {
  font-family: "halyard-text", sans-serif;
  font-weight: 300;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "halyard-display", sans-serif;
  font-weight: bold;
}
strong,
b {
  font-weight: bold;
}
header .logo img {
  max-height: 60px;
  max-width: 100%;
}

.navbar-brand img {
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

// map

#leaflet-map {
  height: 70vh;
}
#leaflet-map .leaflet-popup-content h1 {
  font-size: 1.5rem;
}
#leaflet-map dd {
  margin-bottom: 0;
}
#leaflet-map dt {
  margin-top: 0.5rem;
}
#leaflet-map dt:first-of-type {
  margin-top: 0;
}
#leaflet-map .ui-slider-range {
  background-color: #198754;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  background-color: #30da8b;
  border: 1px solid #30da8b;
}
